
.e-outer{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 30vw;
}

input, textarea{
    background: #141313;
    border: 0.5px solid #727272;
    border-radius: 10px;
    height: 4vh;
    font-size: 1.2rem;
    padding: 10px;
    color: white;
}
input::placeholder, textarea::placeholder{
    color: rgb(191, 189, 189);
}
textarea{
    height: 15vh;
    text-decoration: none;
}
button{
    background-color: #3b3b3b;
    border: 0.5px solid #727272;
    border-radius: 10px;
    height: 4vh;
    font-size: 1.2rem;
    color: white;
}
button:hover{
    background-color: #ffffff;
    cursor: pointer;
    color: black;
}