@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Barrio&family=Bitcount+Ink:wght@100..900&family=Bungee+Spice&family=Caprasimo&family=Fascinate&family=Fascinate+Inline&family=Honk:MORF@15&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Poller+One&family=Rubik+Distressed&family=Rubik+Gemstones&family=Rubik+Puddles&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Story+Script&family=UnifrakturCook:wght@700&display=swap');

*{
    margin: 0;
    font-family: 'SN Pro';
}
.c_outer{
    width: 80%;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.5rem;
    font-family: 'SN Pro';
    color: white;
    border-bottom: 1px solid #727272;
    opacity: 85%;
    transition: ease 0.5s;
    opacity: 80%;
}
.c_inner{
    font-size: 4rem;
    margin-bottom: 5vh;
}

.c_details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2vw;
}

.fqa{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: #727272;
    font-weight: 300;
    gap: 1vw;

}

span{
    color: white;
}

@media screen and (max-width: 900px) {
  .c_outer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .c_inner {
    font-size: 2.2rem;
    margin-bottom: 3vh;
  }
  .c_details {
    flex-direction: column;
    gap: 30px;
  }
  .fqa {
    width: 100%;
    gap: 15px;
    font-size: 1rem;
  }
}